- unless results.blank?
  %div.results{:id => title.downcase.tr(' ', '_')}
    %h1= title
    %div
      = "File: #{results[:file_name]}"
    - if results[:warnings].blank? and results[:errors].blank?
      .status.passed
        %ul
          %li No warnings or errors were detected
    = render :partial => "results_collection", :locals => {:results_collection => results, :collection => :warnings }
    = render :partial => "results_collection", :locals => {:results_collection => results, :collection => :errors }